{{page-title 'AutherTest'}}
<button type="button" {{on 'click' (fn this.signIn 'google')}}>
  Sign in with Google
</button>
<button type="button" {{on 'click' (fn this.signIn 'twitter')}}>
  Sign in with Twitter
</button>
<button type="button" {{on 'click' (fn this.signIn 'microsoft')}}>
  Sign in with Microsoft
</button>
<button type="button" {{on 'click' (fn this.signIn 'facebook')}}>
  Sign in with Facebook
</button>
<button type="button" {{on 'click' (fn this.signIn 'instagram')}}>
  Sign in with Instagram
</button>
<button type="button" {{on 'click' (fn this.signIn 'yandex')}}>
  Sign in with Yandex
</button>
<button type="button" {{on 'click' (fn this.signIn 'github')}}>
  Sign in with GitHub
</button>
<button type="button" {{on 'click' (fn this.signIn 'linkedin')}}>
  Sign in with LinkedIn
</button>
<button type="button" {{on 'click' (fn this.signIn 'twitch')}}>
  Sign in with Twitch
</button>
<button type="button" {{on 'click' (fn this.signIn 'stackexchange')}}>
  Sign in with StackExchange
</button>
{{outlet}}